<app-sliderpaginas></app-sliderpaginas>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        <strong>¿Como Pagar?</strong>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body">
        <strong>
          Para pagar puedes hacer el deposito a las diferenes cuentas bancarias
          que tenemos a tu Disposición</strong
        >
        <br />
        PICHINCHA <br />
        0123456789 <br />AHORROS<br />
        <br />
        PACIFICO <br />0123456789<br />
        AHORROS<br />
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseTwo"
      >
        <strong>¿Cómo ser Distribuidor?</strong>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingTwo"
    >
      <div class="accordion-body">
        <strong>Tener ganas de Emprender.</strong>
        Para ser Distribuidor tienes que comunicarte con nuestro equipo de
        marketing y proporcionar informacion necesaria para seguir trabajando en
        conjunto.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree"
      >
        <strong>¿No me llega la cuenta?</strong>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree"
    >
      <div class="accordion-body">
        <strong>Espera PorFavor.</strong>
        Las cuentas demoran en llegar en un lapso de 5 a 10 minutos debido a las
        configuraciones que se realizan , para brindarte el mejor servicio.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingfour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapsefour"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapsefour"
      >
        <strong> ¿No puedo ingresar a la Plataforma Solicitada?</strong>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapsefour"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingfour"
    >
      <div class="accordion-body">
        <strong>Atención inmediata.</strong>
        Si ya has echo tu compra exitosamente pero no puedes ingresar,
        comunicate con nosotros para verificar la funcionalidad de la cuenta y
        guiarte para el ingreso a tu servicio.
      </div>
    </div>
  </div>
</div>
